.subbutton {
    display: inline-block;
    color: var(--fgColor-default);
    background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted));
    border: var(--borderWidth-thin) solid var(--counter-borderColor);
    border-radius: 2em;
    font-size: var(--text-body-size-small);
    font-weight: var(--base-text-weight-medium);
    line-height: calc(var(--base-size-20) - var(--borderWidth-thin) * 2);
    text-align: center;
    min-width: var(--base-size-20);
    padding: 0 var(--base-size-6);
    margin-left: 2px;
}
.subbutton:hover {
    color: var(--fgColor-onEmphasis);
    background-color: var(--bgColor-accent-emphasis);
}